/* Define the rem display value one rem = 12 pixels */
html {
   font-size: 62.5%;
}

/* Base line setting */
body {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   font-size: 1.5rem;
   letter-spacing: 2px;
   line-height: 160%;
}

/* Main container for the full page, all content must belong inside container block */
.container {
   width: 80%;
}

/*****************************************************************
      Begining of Header Block
  ******************************************************************/
header {
   margin-bottom: 5rem;
}

/* Navigation bar */
.navbar {
   height: 6rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar_logo {
   font-size: 3rem;
   text-transform: uppercase;
}

.header_nav_li {
   display: inline-block;
   margin-left: 2rem;
}

a.header_nav_link:link,
a.header_nav_link:visited {
   display: inline-block;
   text-decoration: none;
   color: #575757;
}

a.header_nav_link:hover,
a.header_nav_link:active {
   text-decoration: none;
   color: #949292;
}

/* h1 heading */
h1 {
   text-transform: uppercase;
   font-size: 2rem;
}

/***************************************************************
      End of Header Block 
  *****************************************************************/
