* {
   margin: 0;
   padding: 0;
}
/* Define the rem display value one rem = 12 pixels */
html {
   font-size: 62.5%;
}

/* Base line setting */
body {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   font-size: 1.3rem;
   letter-spacing: 2px;
   line-height: 160%;
}

header {
   width: 100%;
}

.top {
   display: flex;
   justify-content: center;
   padding: 1px;
   margin-bottom: 5rem;
   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

/* Header */



/*****************************************************************
        Begining of Header Block
******************************************************************/

/* Navigation bar */
.navbar {
   margin: 1px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content:space-between;
   width: 80%;
   height: 4rem;
}

.navbar_logo {
   font-size: 3rem;
   text-transform: uppercase;
}

.navbar_li {
   display: inline-block;
   margin-left: 2rem;
}

a.navbar_link,
a.navbar_link:visited {
   text-decoration: none;
   color: #575757;
}

a.navbar_link:hover,
a.navbar_link:active {
   text-decoration: none;
   color: #949292;
}

/* Main container for the full page, all content must belong inside container block */
section {
   width: 80%;
   margin: auto;
}

.content {
   width: 100%;
}
/* h1 heading */
h1 {
   text-transform: uppercase;
   font-size: 2rem;
}

h2, h3, h4 {
   margin: 0;
}

/***************************************************************
        End of Header Block 
*****************************************************************/

/***************************************************************
   Contact List Views
*****************************************************************/

.contacts_view {
   display: flex;
   flex-direction: row;
   height: 50rem;
   width: 100%;
   border-radius: 10px;
   background-color: #fcfcfc;
   margin-bottom: 5rem;
   /* background-color: #949292; */
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.list_col {
   min-width: 20rem;
   margin: 2rem;
   padding: 1rem;
   width: 30%;
   border-radius: 10px;
   background-color: white;
   text-align: left;
}

.info_col {
   min-width: 30rem;
   margin: 2rem 2rem 2rem 0;
   padding: 1rem;
   width: 70%;
   border-radius: 10px;
   background-color: white;
}

.search_feild {
   display: flex;
   flex-direction: row;
   width: 100%;
   margin-bottom: 2rem;
   justify-content:space-between;
}

.search_input {
   width: 100%;
   height: 3rem;
   border-style: none;
   border-radius: 20px;
   padding: 0 5px 0 5px;
   border: 1px solid;
   border-color: #c0c0c0;
}

.search_button {
   height: 3rem;
   width: 10rem;
   margin-left: 1rem;
   background-color: #0066ff;
   font-size: 15px;
   color: #ffffff;
   border-radius: 20px;
   border-style: none;
}

.name_list {
   display: flex;
   flex-direction: column;
}