{{define "index_navbar_header"}}
<header class="index_header">
   <nav class="navbar">
      <div class="navbar_logo">
         <a class="navbar_link" href="/home">Logo</a>
      </div>
      <div class="navbar_links">
         <ul>
            <li class="navbar_li">
               <a class="navbar_link" href="/about">About</a>
            </li>
            <li class="navbar_li">
               <a class="navbar_link" href="/contact">Contacts</a>
            </li>
            <li class="navbar_li">
               <a class="navbar_link" href="/login">Login</a>
            </li>
            <li class="navbar_li">
               <a class="navbar_link" href="signup">Sign Up</a>
            </li>
         </ul>
      </div>
   </nav>
</header>
{{end}}