{{template "homelayout" .}}
{{define "header"}}
<header>
	<nav>
		<div class="navbar">
			<div class="navbar_logo">
				<p>
					<a class="header_nav_link" href="/">LOGO</a>
				</p>
			</div>
			<div class="navbar-menu">
				<ul>
					<li class="header_nav_li">
						<a class="header_nav_link" href="/about">About</a>
					</li>
					<li class="header_nav_li">
						<a class="header_nav_link" href="/contacts">Contacts</a>
					</li>
					<li class="header_nav_li">
						<a class="header_nav_link" href="/login">Login</a>
					</li>
					<li class="header_nav_li">
						<a class="header_nav_link" href="/signup">Create Account</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
{{end}}